.nav-link {
  color: #24273d;
  font-weight: 600;
}

.active {
  color: #ae6afc;
}

.nav-link {
  position: relative;
  overflow: hidden;
}

.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ae6afc;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link::before {
  transform: translateX(-50%);
}

.nav-link::after {
  transform: translateX(50%);
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.nav-link:hover {
  color: #ae6afc;
}

.add-task-btn {
  color: white;
  background-color: #9c5fe3;
  font-size: 1.1em;
  padding: 10px;
}
.add-task-btn:hover {
  background-color: #ae6afc;
}
