.card {
  border: 1px solid #24273d;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: default;
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el cursor */
}
